In [1]:
 import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "CountyLicenseCount.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

   ID County Name (Licensee)  County ID Code  License Count
0   0                 ALBANY               5             77
1   1               ALLEGANY              59              4
2   2                  BRONX               0            104
3   3                 BROOME              35             14
4   4            CATTARAUGUS              41              9

In [4]:
csv_file = "LicensePremise.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

,License Serial Number,Premises Name,License Certificate Number,License Received Date,County ID Code
0,1311660,CANA ARRIBA GROCERY NO 2 INC,NaN,2018-06-29T00:00:00,0
1,1310023,JOHANA GROCERY & DELI CORP,NaN,2018-04-27T00:00:00,0
2,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
3,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
4,1311663,181 LEXINGTON AVENUE BBQ LLC,NaN,2018-06-29T00:00:00,2

In [6]:
new_license_df = customer_data_df[["County ID Code", "License Serial Number", "Premises Name"]].copy()
new_license_df.head()

   County ID Code  License Serial Number                 Premises Name
0               0                1311660  CANA ARRIBA GROCERY NO 2 INC
1               0                1310023    JOHANA GROCERY & DELI CORP
2               1                1310024             TKO BEVERAGES LLC
3               1                1310024             TKO BEVERAGES LLC
4               2                1311663  181 LEXINGTON AVENUE BBQ LLC

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
 engine.table_names()

['premise', 'county']

In [10]:
new_license_df.to_sql(name='premises', con=engine, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from premises', con=engine).head()

   County ID Code  License Serial Number                 Premises Name
0               0                1311660  CANA ARRIBA GROCERY NO 2 INC
1               0                1310023    JOHANA GROCERY & DELI CORP
2               1                1310024             TKO BEVERAGES LLC
3               1                1310024             TKO BEVERAGES LLC
4               2                1311663  181 LEXINGTON AVENUE BBQ LLC