Found a data base that lists yearly inflation of every country in the worls

In [2]:
csv_path = "API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_103687.csv"

In [3]:
df = pd.read_csv(csv_path, encoding="ISO-8859-1")

Filtered out all data other than yearly inflation of the United States

In [4]:
new_df = df[df['Country Name'] == 'United States']
print(new_df)

# new_df = inflation_df.query("Country Name = 'United States'")
# new_df

      Country Name Country Code                         Indicator Name  \
249  United States          USA  Inflation, consumer prices (annual %)

     Indicator Code      1960      1961      1962      1963      1964  \
249  FP.CPI.TOTL.ZG  1.457976  1.070724  1.198773  1.239669  1.278912

         1965  ...      2010      2011      2012      2013      2014  \
249  1.585169  ...  1.640043  3.156842  2.069337  1.464833  1.622223

         2015      2016     2017      2018  Unnamed: 63
249  0.118627  1.261583  2.13011  2.442583          NaN

[1 rows x 64 columns]

Transposed the table so years run verticle instead of horizontal. Purged non related data.

In [5]:
 df1_transposed = new_df.T[4:]
df1_transposed

                  249
1960          1.45798
1961          1.07072
1962          1.19877
1963          1.23967
1964          1.27891
1965          1.58517
1966          3.01508
1967          2.77279
1968           4.2718
1969          5.46239
1970          5.83826
1971          4.29277
1972          3.27228
1973          6.17776
1974          11.0548
1975          9.14315
1976          5.74481
1977          6.50168
1978          7.63096
1979          11.2545
1980          13.5492
1981          10.3347
1982          6.13143
1983          3.21244
1984          4.30054
1985          3.54564
1986          1.89805
1987          3.66456
1988          4.07774
1989            4.827
1990          5.39796
1991          4.23496
1992          3.02882
1993          2.95166
1994          2.60744
1995          2.80542
1996           2.9312
1997          2.33769
1998          1.55228
1999          2.18803
2000          3.37686
2001          2.82617
2002          1.58603
2003          2.27009
2004          2.67724
2005          3.39275
2006          3.22594
2007          2.85267
2008           3.8391
2009        -0.355546
2010          1.64004
2011          3.15684
2012          2.06934
2013          1.46483
2014          1.62222
2015         0.118627
2016          1.26158
2017          2.13011
2018          2.44258
Unnamed: 63       NaN

Created a new column that shows the inflation in decimal notation.

In [6]:
df1_transposed["actual"]= df1_transposed[249]/100+1
df1_transposed

                  249    actual
1960          1.45798   1.01458
1961          1.07072   1.01071
1962          1.19877   1.01199
1963          1.23967    1.0124
1964          1.27891   1.01279
1965          1.58517   1.01585
1966          3.01508   1.03015
1967          2.77279   1.02773
1968           4.2718   1.04272
1969          5.46239   1.05462
1970          5.83826   1.05838
1971          4.29277   1.04293
1972          3.27228   1.03272
1973          6.17776   1.06178
1974          11.0548   1.11055
1975          9.14315   1.09143
1976          5.74481   1.05745
1977          6.50168   1.06502
1978          7.63096   1.07631
1979          11.2545   1.11254
1980          13.5492   1.13549
1981          10.3347   1.10335
1982          6.13143   1.06131
1983          3.21244   1.03212
1984          4.30054   1.04301
1985          3.54564   1.03546
1986          1.89805   1.01898
1987          3.66456   1.03665
1988          4.07774   1.04078
1989            4.827   1.04827
1990          5.39796   1.05398
1991          4.23496   1.04235
1992          3.02882   1.03029
1993          2.95166   1.02952
1994          2.60744   1.02607
1995          2.80542   1.02805
1996           2.9312   1.02931
1997          2.33769   1.02338
1998          1.55228   1.01552
1999          2.18803   1.02188
2000          3.37686   1.03377
2001          2.82617   1.02826
2002          1.58603   1.01586
2003          2.27009    1.0227
2004          2.67724   1.02677
2005          3.39275   1.03393
2006          3.22594   1.03226
2007          2.85267   1.02853
2008           3.8391   1.03839
2009        -0.355546  0.996445
2010          1.64004    1.0164
2011          3.15684   1.03157
2012          2.06934   1.02069
2013          1.46483   1.01465
2014          1.62222   1.01622
2015         0.118627   1.00119
2016          1.26158   1.01262
2017          2.13011    1.0213
2018          2.44258   1.02443
Unnamed: 63       NaN       NaN

Reset Index

In [7]:
df1_transposed.reset_index(inplace=True)

In [8]:
df1_transposed

          index       249    actual
0          1960   1.45798   1.01458
1          1961   1.07072   1.01071
2          1962   1.19877   1.01199
3          1963   1.23967    1.0124
4          1964   1.27891   1.01279
5          1965   1.58517   1.01585
6          1966   3.01508   1.03015
7          1967   2.77279   1.02773
8          1968    4.2718   1.04272
9          1969   5.46239   1.05462
10         1970   5.83826   1.05838
11         1971   4.29277   1.04293
12         1972   3.27228   1.03272
13         1973   6.17776   1.06178
14         1974   11.0548   1.11055
15         1975   9.14315   1.09143
16         1976   5.74481   1.05745
17         1977   6.50168   1.06502
18         1978   7.63096   1.07631
19         1979   11.2545   1.11254
20         1980   13.5492   1.13549
21         1981   10.3347   1.10335
22         1982   6.13143   1.06131
23         1983   3.21244   1.03212
24         1984   4.30054   1.04301
25         1985   3.54564   1.03546
26         1986   1.89805   1.01898
27         1987   3.66456   1.03665
28         1988   4.07774   1.04078
29         1989     4.827   1.04827
30         1990   5.39796   1.05398
31         1991   4.23496   1.04235
32         1992   3.02882   1.03029
33         1993   2.95166   1.02952
34         1994   2.60744   1.02607
35         1995   2.80542   1.02805
36         1996    2.9312   1.02931
37         1997   2.33769   1.02338
38         1998   1.55228   1.01552
39         1999   2.18803   1.02188
40         2000   3.37686   1.03377
41         2001   2.82617   1.02826
42         2002   1.58603   1.01586
43         2003   2.27009    1.0227
44         2004   2.67724   1.02677
45         2005   3.39275   1.03393
46         2006   3.22594   1.03226
47         2007   2.85267   1.02853
48         2008    3.8391   1.03839
49         2009 -0.355546  0.996445
50         2010   1.64004    1.0164
51         2011   3.15684   1.03157
52         2012   2.06934   1.02069
53         2013   1.46483   1.01465
54         2014   1.62222   1.01622
55         2015  0.118627   1.00119
56         2016   1.26158   1.01262
57         2017   2.13011    1.0213
58         2018   2.44258   1.02443
59  Unnamed: 63       NaN       NaN

In [9]:
df1_transposed.columns=["year","percent","actual"]
df1_transposed

           year   percent    actual
0          1960   1.45798   1.01458
1          1961   1.07072   1.01071
2          1962   1.19877   1.01199
3          1963   1.23967    1.0124
4          1964   1.27891   1.01279
5          1965   1.58517   1.01585
6          1966   3.01508   1.03015
7          1967   2.77279   1.02773
8          1968    4.2718   1.04272
9          1969   5.46239   1.05462
10         1970   5.83826   1.05838
11         1971   4.29277   1.04293
12         1972   3.27228   1.03272
13         1973   6.17776   1.06178
14         1974   11.0548   1.11055
15         1975   9.14315   1.09143
16         1976   5.74481   1.05745
17         1977   6.50168   1.06502
18         1978   7.63096   1.07631
19         1979   11.2545   1.11254
20         1980   13.5492   1.13549
21         1981   10.3347   1.10335
22         1982   6.13143   1.06131
23         1983   3.21244   1.03212
24         1984   4.30054   1.04301
25         1985   3.54564   1.03546
26         1986   1.89805   1.01898
27         1987   3.66456   1.03665
28         1988   4.07774   1.04078
29         1989     4.827   1.04827
30         1990   5.39796   1.05398
31         1991   4.23496   1.04235
32         1992   3.02882   1.03029
33         1993   2.95166   1.02952
34         1994   2.60744   1.02607
35         1995   2.80542   1.02805
36         1996    2.9312   1.02931
37         1997   2.33769   1.02338
38         1998   1.55228   1.01552
39         1999   2.18803   1.02188
40         2000   3.37686   1.03377
41         2001   2.82617   1.02826
42         2002   1.58603   1.01586
43         2003   2.27009    1.0227
44         2004   2.67724   1.02677
45         2005   3.39275   1.03393
46         2006   3.22594   1.03226
47         2007   2.85267   1.02853
48         2008    3.8391   1.03839
49         2009 -0.355546  0.996445
50         2010   1.64004    1.0164
51         2011   3.15684   1.03157
52         2012   2.06934   1.02069
53         2013   1.46483   1.01465
54         2014   1.62222   1.01622
55         2015  0.118627   1.00119
56         2016   1.26158   1.01262
57         2017   2.13011    1.0213
58         2018   2.44258   1.02443
59  Unnamed: 63       NaN       NaN

Flipped the table so that the most recent years are at the top of the table.

In [ ]:
df1_transposed.year = df1_transposed.year.values[::-1]
df1_transposed.percent = df1_transposed.percent.values[::-1]
df1_transposed.actual = df1_transposed.actual.values[::-1]
df1_transposed

In [11]:
df1_transposed = df1_transposed[1:]
df1_transposed

    year   percent    actual
1   2018   2.44258   1.02443
2   2017   2.13011    1.0213
3   2016   1.26158   1.01262
4   2015  0.118627   1.00119
5   2014   1.62222   1.01622
6   2013   1.46483   1.01465
7   2012   2.06934   1.02069
8   2011   3.15684   1.03157
9   2010   1.64004    1.0164
10  2009 -0.355546  0.996445
11  2008    3.8391   1.03839
12  2007   2.85267   1.02853
13  2006   3.22594   1.03226
14  2005   3.39275   1.03393
15  2004   2.67724   1.02677
16  2003   2.27009    1.0227
17  2002   1.58603   1.01586
18  2001   2.82617   1.02826
19  2000   3.37686   1.03377
20  1999   2.18803   1.02188
21  1998   1.55228   1.01552
22  1997   2.33769   1.02338
23  1996    2.9312   1.02931
24  1995   2.80542   1.02805
25  1994   2.60744   1.02607
26  1993   2.95166   1.02952
27  1992   3.02882   1.03029
28  1991   4.23496   1.04235
29  1990   5.39796   1.05398
30  1989     4.827   1.04827
31  1988   4.07774   1.04078
32  1987   3.66456   1.03665
33  1986   1.89805   1.01898
34  1985   3.54564   1.03546
35  1984   4.30054   1.04301
36  1983   3.21244   1.03212
37  1982   6.13143   1.06131
38  1981   10.3347   1.10335
39  1980   13.5492   1.13549
40  1979   11.2545   1.11254
41  1978   7.63096   1.07631
42  1977   6.50168   1.06502
43  1976   5.74481   1.05745
44  1975   9.14315   1.09143
45  1974   11.0548   1.11055
46  1973   6.17776   1.06178
47  1972   3.27228   1.03272
48  1971   4.29277   1.04293
49  1970   5.83826   1.05838
50  1969   5.46239   1.05462
51  1968    4.2718   1.04272
52  1967   2.77279   1.02773
53  1966   3.01508   1.03015
54  1965   1.58517   1.01585
55  1964   1.27891   1.01279
56  1963   1.23967    1.0124
57  1962   1.19877   1.01199
58  1961   1.07072   1.01071
59  1960   1.45798   1.01458

Created a new row and ran a 'compound product' function that allowed us to calculate the total inflation multiplier for every year.

In [12]:
df1_transposed['cumulative'] = df1_transposed.actual.cumprod()

df1_transposed

C:\Users\omerk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    year   percent    actual cumulative
1   2018   2.44258   1.02443    1.02443
2   2017   2.13011    1.0213    1.04625
3   2016   1.26158   1.01262    1.05945
4   2015  0.118627   1.00119     1.0607
5   2014   1.62222   1.01622    1.07791
6   2013   1.46483   1.01465     1.0937
7   2012   2.06934   1.02069    1.11633
8   2011   3.15684   1.03157    1.15157
9   2010   1.64004    1.0164    1.17046
10  2009 -0.355546  0.996445     1.1663
11  2008    3.8391   1.03839    1.21107
12  2007   2.85267   1.02853    1.24562
13  2006   3.22594   1.03226     1.2858
14  2005   3.39275   1.03393    1.32943
15  2004   2.67724   1.02677    1.36502
16  2003   2.27009    1.0227    1.39601
17  2002   1.58603   1.01586    1.41815
18  2001   2.82617   1.02826    1.45823
19  2000   3.37686   1.03377    1.50747
20  1999   2.18803   1.02188    1.54045
21  1998   1.55228   1.01552    1.56437
22  1997   2.33769   1.02338    1.60094
23  1996    2.9312   1.02931    1.64786
24  1995   2.80542   1.02805    1.69409
25  1994   2.60744   1.02607    1.73826
26  1993   2.95166   1.02952    1.78957
27  1992   3.02882   1.03029    1.84378
28  1991   4.23496   1.04235    1.92186
29  1990   5.39796   1.05398     2.0256
30  1989     4.827   1.04827    2.12338
31  1988   4.07774   1.04078    2.20996
32  1987   3.66456   1.03665    2.29095
33  1986   1.89805   1.01898    2.33443
34  1985   3.54564   1.03546     2.4172
35  1984   4.30054   1.04301    2.52115
36  1983   3.21244   1.03212    2.60214
37  1982   6.13143   1.06131    2.76169
38  1981   10.3347   1.10335     3.0471
39  1980   13.5492   1.13549    3.45996
40  1979   11.2545   1.11254    3.84936
41  1978   7.63096   1.07631    4.14311
42  1977   6.50168   1.06502    4.41248
43  1976   5.74481   1.05745    4.66597
44  1975   9.14315   1.09143    5.09258
45  1974   11.0548   1.11055    5.65556
46  1973   6.17776   1.06178    6.00495
47  1972   3.27228   1.03272    6.20144
48  1971   4.29277   1.04293    6.46766
49  1970   5.83826   1.05838    6.84526
50  1969   5.46239   1.05462    7.21917
51  1968    4.2718   1.04272    7.52756
52  1967   2.77279   1.02773    7.73628
53  1966   3.01508   1.03015    7.96954
54  1965   1.58517   1.01585    8.09587
55  1964   1.27891   1.01279    8.19941
56  1963   1.23967    1.0124    8.30105
57  1962   1.19877   1.01199    8.40056
58  1961   1.07072   1.01071    8.49051
59  1960   1.45798   1.01458     8.6143